// Colors
$color-primary: #41b883;
$color-primary-light: #7acda8;
$color-primary-dark: #349368;
$color-secondary: #34495e;
$color-btn: linear-gradient(to right, #54bf8f 0%, #3aa575 51%, #54bf8f 100%);
$color-text: #333;
$color-gray: #f0f0f0;
